<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="masterEntities" connectionString="metadata=res://*/EntityModel2.csdl|res://*/EntityModel2.ssdl|res://*/EntityModel2.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WORLDONE\AYTEN;User ID=sa;Password=admin1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="SchoolEntities" connectionString="metadata=res://*/EntityFrameModel2.csdl|res://*/EntityFrameModel2.ssdl|res://*/EntityFrameModel2.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WORLDONE\AYTEN;Initial Catalog=School;User ID=sa;Password=admin1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="SchoolEntities1" connectionString="metadata=res://*/FrameworkModel1.csdl|res://*/FrameworkModel1.ssdl|res://*/FrameworkModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WORLDONE\AYTEN;Initial Catalog=School;User ID=sa;Password=admin1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>