<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SchoolEntities" connectionString="metadata=res://*/FrameworkModel.csdl|res://*/FrameworkModel.ssdl|res://*/FrameworkModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WORLDONE\AYTEN;Initial Catalog=School;User ID=sa;Password=admin1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="SchoolEntities1" connectionString="metadata=res://*/FrameworkModel1.csdl|res://*/FrameworkModel1.ssdl|res://*/FrameworkModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WORLDONE\AYTEN;Initial Catalog=School;User ID=sa;Password=admin1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="SchoolEntities2" connectionString="metadata=res://*/FrameWorkModel.csdl|res://*/FrameWorkModel.ssdl|res://*/FrameWorkModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WORLDONE\AYTEN;Initial Catalog=School;User ID=sa;Password=admin1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="SchoolEntities3" connectionString="metadata=res://*/FrameworkModel1.csdl|res://*/FrameworkModel1.ssdl|res://*/FrameworkModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WORLDONE\AYTEN;Initial Catalog=School;User ID=sa;Password=admin1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="SchoolEntities4" connectionString="metadata=res://*/EntityFrameModel.csdl|res://*/EntityFrameModel.ssdl|res://*/EntityFrameModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WORLDONE\AYTEN;Initial Catalog=School;User ID=sa;Password=admin1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="SchoolEntities5" connectionString="metadata=res://*/FrameworkModel1.csdl|res://*/FrameworkModel1.ssdl|res://*/FrameworkModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WORLDONE\AYTEN;Initial Catalog=School;User ID=sa;Password=admin1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="SchoolEntities6" connectionString="metadata=res://*/EntityFrameworkModel.csdl|res://*/EntityFrameworkModel.ssdl|res://*/EntityFrameworkModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WORLDONE\AYTEN;Initial Catalog=School;User ID=sa;Password=admin1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="SchoolEntities7" connectionString="metadata=res://*/FramewrkModel.csdl|res://*/FramewrkModel.ssdl|res://*/FramewrkModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WORLDONE\AYTEN;Initial Catalog=School;User ID=sa;Password=admin1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="SchoolEntities8" connectionString="metadata=res://*/FrameworkModel1.csdl|res://*/FrameworkModel1.ssdl|res://*/FrameworkModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WORLDONE\AYTEN;Initial Catalog=School;User ID=sa;Password=admin1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="SchoolEntities9" connectionString="metadata=res://*/FrameworkModel1.csdl|res://*/FrameworkModel1.ssdl|res://*/FrameworkModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WORLDONE\AYTEN;Initial Catalog=School;User ID=sa;Password=admin1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="SchoolEntities10" connectionString="metadata=res://*/frameworkModel1.csdl|res://*/frameworkModel1.ssdl|res://*/frameworkModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WORLDONE\AYTEN;Initial Catalog=School;User ID=sa;Password=admin1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="SchoolEntities11" connectionString="metadata=res://*/FrameworkModel1.csdl|res://*/FrameworkModel1.ssdl|res://*/FrameworkModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WORLDONE\AYTEN;Initial Catalog=School;User ID=sa;Password=admin1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="SchoolEntities12" connectionString="metadata=res://*/FrameworkModel1.csdl|res://*/FrameworkModel1.ssdl|res://*/FrameworkModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WORLDONE\AYTEN;Initial Catalog=School;User ID=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="SchoolEntities13" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WORLDONE\AYTEN;Initial Catalog=School;User ID=sa;Password=admin1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="SchoolEntities14" connectionString="metadata=res://*/BKModel.csdl|res://*/BKModel.ssdl|res://*/BKModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WORLDONE\AYTEN;Initial Catalog=School;User ID=sa;Password=admin1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="SchoolEntities15" connectionString="metadata=res://*/BKModel.csdl|res://*/BKModel.ssdl|res://*/BKModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WORLDONE\AYTEN;Initial Catalog=School;User ID=sa;Password=admin1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="SchoolEntities16" connectionString="metadata=res://*/BKModel.csdl|res://*/BKModel.ssdl|res://*/BKModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WORLDONE\AYTEN;Initial Catalog=School;User ID=sa;Password=admin1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="SchoolEntities17" connectionString="metadata=res://*/BKModel.csdl|res://*/BKModel.ssdl|res://*/BKModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WORLDONE\AYTEN;Initial Catalog=School;User ID=sa;Password=admin1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="SchoolEntities18" connectionString="metadata=res://*/BKModel.csdl|res://*/BKModel.ssdl|res://*/BKModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WORLDONE\AYTEN;Initial Catalog=School;User ID=sa;Password=admin1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
